<div fxLayout="column" fxFlexFill fxLayoutAlign="top">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      {{ place$ | async }}
    </div>
    <div>{{date$ | async}}</div>
  </div>
  <db-clock></db-clock>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div></div>
      <div class="wd-secondary-temp">
        {{tempLow$ | async | unitConverter: 'K':'C' | number:'1.0-0' }}°
      </div>
    </div>
    <div class="wd-current-temp">
      {{ tempCurrent$ | async | unitConverter: 'K':'C' | number:'1.0-0' }}
    </div>
    <div div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div>
        <div fxLayout="column">
          <i class="wi db-current-condition" [ngClass]="'wi-owm-' + (isSunriseNext ? 'night-' : 'day-') + (conditionId$ | async)"></i>
          <div>
            {{condition$ | async}}
          </div>
        </div>
      </div>
      <div class="wd-secondary-temp">
        {{tempHigh$ | async | unitConverter: 'K':'C' | number:'1.0-0' }}°
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <i class="wi db-moon-phase" [ngClass]="'wi-moon-'+(moonPhase$ | async)"></i>
    <div>
      <i class="wi db-sunrise" [ngClass]="{'wi-sunrise': !(isDayTime$ | async), 'wi-sunset': (isDayTime$ | async)}"></i> {{ sunEventTime$ | async }}
    </div>
  </div>
</div>
