:host{
    font-size: 150%;
}

.wd-temp{
    font-family: 'Open Sans Condensed', sans-serif;
}

.wd-current-temp{
    @extend .wd-temp;

    font-size: 600%;
    margin: -13% 0;
    align-self: flex-end;
}

.wd-secondary-temp{
    @extend .wd-temp;

    font-size: 200%;
}

.db-current-condition{
    font-size: 200%;
    margin-bottom: 4pt;
}

.db-moon-phase{
    font-size: 200%;
    text-shadow: 0 0 5pt white;
}

.db-sunrise{
    color: yellow;
}
