:host{
    font-size: 150%;
    background: url("../../assets/home-panel-background.png");
    padding: 10pt;
    border: 3pt solid black;
    border-radius: 10pt;
    box-shadow: 10pt 10pt 20pt rgba(0,0,0,0.5);
}

.wd-temperature{
    font-size: 600%;
    margin: -13% 0;
    align-self: flex-end;
}

.wd-secondary-temp{
    font-size: 200%;
}

.db-current-condition{
    font-size: 200%;
    margin-bottom: 4pt;
}

.db-moon-phase{
    font-size: 200%;
    text-shadow: 0 0 5pt white;
}

.db-sunrise{
    color: yellow;
}
