@import url('https://fonts.googleapis.com/css?family=Audiowide|Amaranth');
@import './assets/weather-icons/sass/weather-icons';

html, body {
    height: 100%;
    margin: 0%;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5em;
    background-color: black;
    color: white;
}
