:host {
    display: flex;
    flex: 1;
    background: url("../../assets/home-background.jpg");
    padding: 1em;
    text-shadow: 10pt 10pt 15pt rgba(0,0,0,0.5);
    box-shadow: inset 0 0 2in black;
    background-position: center;
}